.hero-zoom {
    animation: zoom 20s infinite alternate ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.animate-fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
}

.delay-100 {
    animation-delay: 0.2s;
}

.delay-200 {
    animation-delay: 0.4s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}